[class*="logo-"] {
    -webkit-transition: all 333ms ease-out;
    -moz-transition: all 333ms ease-out;
    -o-transition: all 333ms ease-out;
    transition: all 333ms ease-out;
}

.logo-svg {
    margin-left: 7.3em;
    transition-delay: 222ms;
}

.logo-c {
    fill: #555;
    transition-delay: 444ms;
}

[class*="logo-m-left-"] {
    transition-delay: 388.5ms;
}

.logo-m-left-1 {
    fill: #555;
}

.logo-m-left-2 {
    opacity: 0.4;
    fill: #555;
}

.logo-m-right {
    fill: #555;
    transition-delay: 333ms;
}

.logo-type {
    opacity: 0;
    transition-delay: 0ms;
}

.logo-svg:hover {
    margin-left: 0;
    transition-delay: 0ms;
}

.logo-svg:hover .logo-c {
    fill: #27AAE1;
    transition-delay: 222ms;
}

.logo-svg:hover [class*="logo-m-left-"] {
    transition-delay: 277.5ms;
}

.logo-svg:hover .logo-m-left-1 {
    fill: #006600;
}

.logo-svg:hover .logo-m-left-2 {
    opacity: 0.4;
    fill: #006600;
}

.logo-svg:hover .logo-type-group .logo-type {
    fill: grey;
    opacity: 1;
}

.logo-svg:hover .logo-type {
    transition-delay: 388.5ms;
}

.logo-svg:hover .logo-type-code-c {
    transition-delay: 444ms;
}

.logo-svg:hover .logo-type-code-e {
    transition-delay: 527.25ms;
}

.logo-svg:hover .logo-type-acm-m {
    transition-delay: 444ms;
}