.splash-background {
    background-image: url(/img/intro-bg.jpg);
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.small-logo {
    max-height: 135px;
    max-width: 135px;
}