/*Custom font*/

html {
    /*font-family: GillSans, Calibri, Trebuchet, sans-serif;*/
    /*font-weight: 200;*/
}

.splash-background {
    background-image: url(/img/intro-bg.jpg);
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.small-logo {
    max-height: 135px;
    max-width: 135px;
}

.loader {
    margin-top: 30%;
    margin-left: 50%;
}

th {
    min-width: 60px;
}